# Course: ICS 574
# Prject: Alchemists Project - EDA
- Date: March 18th 2024
- Project Members
    - AHMED DHAFER ALQARNI, ID: 201453160
    - WALEED ABDULLAH ALFAIFI, ID: 201640920
    - ALGHAMDI, BANDAR, ID: 202206560

In [38]:
# import python needed for the project
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# import the datasets as dataframes
stocks_df = pd.read_csv("./datasets/Tadawul_stcks.csv")
brent_df = pd.read_csv("./datasets/BrentOilPrices.csv")
eth_df = pd.read_csv("./datasets/coin_Ethereum.csv")
gold_df = pd.read_csv("./datasets/Gold_Daily.csv")

# 1: Descriptive Statistics

# 1.a: Descirptive Statistics of Saudi Stocks Dataset

In [2]:
print("Saudi Stock Dataset Descriptive Statistics:")
print(stocks_df.describe())

Saudi Stock Dataset Descriptive Statistics:
              symbol           open           high            low  \
count  593819.000000  587364.000000  587122.000000  587122.000000
mean     3952.684793      41.237794      41.971636      40.593406
std      2284.498530      86.713646      89.178183      84.562283
min      1010.000000       1.950000       1.950000       1.950000
25%      2140.000000      16.200000      16.400000      16.000000
50%      4004.000000      26.500000      26.905000      26.100000
75%      5110.000000      46.500000      47.200000      45.850000
max      8312.000000    6709.150000    6774.510000    6130.720000

               close         change    perc_Change  volume_traded   \
count  593819.000000  593819.000000  593819.000000    5.938190e+05
mean       40.961602       0.001174       0.035652    1.673422e+06
std        86.491709       4.782545       3.480783    5.482121e+06
min         0.000000    -681.200000    -100.000000    0.000000e+00
25%        16.070000      -0.250000      -0.910000    1.484920e+05
50%        26.300000       0.000000       0.000000    4.335560e+05
75%        46.200000       0.250000       0.910000    1.271184e+06
max      6441.180000     578.430000    1634.440000    7.976659e+08

       value_traded     no_trades
count  5.938190e+05  586128.000000
mean   5.008553e+07     960.642348
std    1.472969e+08    3401.794136
min    0.000000e+00       0.000000
25%    4.114858e+06     158.000000
50%    1.210533e+07     376.000000
75%    3.561017e+07     900.000000
max    1.586582e+10  816526.000000

In [3]:
# print top 5 rows of the stocks dataset to identify sample data
stocks_df.head()

,symbol,name,trading_name,sectoer,date,open,high,low,close,change,perc_Change,volume_traded,value_traded,no_trades
0,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-05,35.55,35.85,34.90,34.90,-0.40,-1.13,436609.0,15399073.50,804.0
1,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-04,34.70,35.65,34.50,35.30,0.25,0.71,737624.0,25981391.35,1268.0
2,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-03,34.70,35.15,34.70,35.05,1.05,3.09,489831.0,17116413.40,854.0
3,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-02,35.20,35.65,34.00,34.00,-0.55,-1.59,736157.0,25858700.60,1242.0
4,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-01,35.35,35.60,34.25,34.55,-2.05,-5.60,738685.0,25747967.55,1625.0

In [4]:
# print the columns of the stocks dataset
print("Saudi Stock Dataset Columns:")
print(stocks_df.columns)

Saudi Stock Dataset Columns:
Index(['symbol', 'name', 'trading_name ', 'sectoer', 'date', 'open', 'high',
       'low', 'close', 'change', 'perc_Change', 'volume_traded ',
       'value_traded', 'no_trades '],
      dtype='object')

In [6]:
# print top 5 rows of the stocks dataset to verify changes
stocks_df.head()

,symbol,name,trading_name,sectoer,Date,open,high,low,close,change,perc_Change,volume_traded,value_traded,no_trades
0,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-05,35.55,35.85,34.90,34.90,-0.40,-1.13,436609.0,15399073.50,804.0
1,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-04,34.70,35.65,34.50,35.30,0.25,0.71,737624.0,25981391.35,1268.0
2,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-03,34.70,35.15,34.70,35.05,1.05,3.09,489831.0,17116413.40,854.0
3,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-02,35.20,35.65,34.00,34.00,-0.55,-1.59,736157.0,25858700.60,1242.0
4,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-01,35.35,35.60,34.25,34.55,-2.05,-5.60,738685.0,25747967.55,1625.0

In [7]:
# print the sectors and their unique names
print("Saudi Stock Dataset Sectors:")
print(stocks_df['sectoer'].unique())

Saudi Stock Dataset Sectors:
['Energy' 'Materials' 'Industrials' 'Consumer Discretionary'
 'Communication Services' 'Consumer Staples' 'Health Care' 'Financials'
 'Information Technology' 'Utilities' 'Real Estate']

In [11]:
# identify for Saudi Basic Industries Corp. which sector it belongs to in the dataset
sabic = stocks_df[stocks_df['name'] == 'Saudi Basic Industries Corp.']
print("SABIC Sector:")
print(sabic['sectoer'].unique())

SABIC Sector:
['Materials']

In [12]:
# identify for Saudi Aramco stock symbol 2222 which sector it belongs to
aramco = stocks_df[stocks_df['symbol'] == 2222]
print("Aramco Sector:")
print(aramco['sectoer'].unique())
print(aramco['name'].unique())

Aramco Sector:
['Energy']
['Saudi Arabian Oil Co.']

In [39]:
# we identified from previous cells that stocks we are interested in are in the Energy and Materials sectors
# so we limit the dataset to the specific Energy and Materials sectors
stocks_specific_df = stocks_df[(stocks_df['sectoer'] == 'Energy') | (stocks_df['sectoer'] == 'Materials')]
print("Specific Sectors Dataset:")
print(stocks_specific_df['sectoer'].unique())

Specific Sectors Dataset:
['Energy' 'Materials']

In [14]:
# print top 5 rows of the specific sectors dataset
stocks_specific_df.head()

,symbol,name,trading_name,sectoer,Date,open,high,low,close,change,perc_Change,volume_traded,value_traded,no_trades
0,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-05,35.55,35.85,34.90,34.90,-0.40,-1.13,436609.0,15399073.50,804.0
1,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-04,34.70,35.65,34.50,35.30,0.25,0.71,737624.0,25981391.35,1268.0
2,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-03,34.70,35.15,34.70,35.05,1.05,3.09,489831.0,17116413.40,854.0
3,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-02,35.20,35.65,34.00,34.00,-0.55,-1.59,736157.0,25858700.60,1242.0
4,2030,Saudi Arabia Refineries Co.,SARCO,Energy,2020-03-01,35.35,35.60,34.25,34.55,-2.05,-5.60,738685.0,25747967.55,1625.0

In [15]:
# do descriptive statistics for the specific sectors dataset
# notice that the dataset is now limited to 2 sectors only - headers are the same from original dataset, just reduced rows to specified sectors
print("Specific Sectors Dataset Descriptive Statistics:")
print(stocks_specific_df.describe())

Specific Sectors Dataset Descriptive Statistics:
              symbol                           Date           open  \
count  158086.000000                         158086  157296.000000
mean     2465.859285  2012-05-11 13:55:50.323241728      41.390524
min      1201.000000            2001-12-31 00:00:00       2.000000
25%      2090.000000            2008-05-13 00:00:00      19.080000
50%      2250.000000            2012-12-11 00:00:00      30.100000
75%      3020.000000            2016-09-20 00:00:00      51.750000
max      4200.000000            2020-04-16 00:00:00     582.000000
std       661.909840                            NaN      35.669815

                high            low          close         change  \
count  157275.000000  157275.000000  158086.000000  158086.000000
mean       42.009535      40.831218      41.315344       0.005487
min         2.000000       2.000000       0.000000    -143.840000
25%        19.300000      18.860000      19.020000      -0.250000
50%        30.400000      29.750000      30.000000       0.000000
75%        52.500000      51.000000      51.750000       0.250000
max       591.500000     549.250000     572.400000     372.910000
std        36.415901      34.987569      35.642652       1.987704

        perc_Change  volume_traded   value_traded     no_trades
count  158086.00000    1.580860e+05  1.580860e+05  158086.000000
mean        0.03516    1.554141e+06  5.796372e+07     921.337962
min      -100.00000    0.000000e+00  0.000000e+00       0.000000
25%        -0.84000    1.389438e+05  4.404891e+06     146.000000
50%         0.00000    4.224140e+05  1.301224e+07     349.000000
75%         0.86000    1.308650e+06  3.884911e+07     856.000000
max       200.00000    4.179278e+08  1.586582e+10  587262.000000
std         2.54594    4.346175e+06  1.764935e+08    3904.101582

In [19]:
# verify if there are any missing values in the dataset; we notice there are and we'll deal with it in the Data Cleaning Section
print("Specific Sectors Dataset Missing Values:")
print(stocks_specific_df.isnull().sum())

Specific Sectors Dataset Missing Values:
symbol              0
name                0
trading_name        0
sectoer             0
Date                0
open              790
high              811
low               811
close               0
change              0
perc_Change         0
volume_traded       0
value_traded        0
no_trades           0
dtype: int64

In [ ]:
# plot an interactive line chart for the specific sectors dataset closing prices
# we notice the major events in the dataset such as the 2006 crash and 2008 crash are visible in the chart
fig = px.line(stocks_specific_df, x='Date', y='close', color='name', title='Energy and Materials Stocks Closing Prices')
fig.show()

# 1.b: Descirptive Statistics of Brent Dataset

In [16]:
print("Brent Oil Dataset Descriptive Statistics:")
print(brent_df.describe())

Brent Oil Dataset Descriptive Statistics:
             Price
count  9011.000000
mean     48.420782
std      32.860110
min       9.100000
25%      19.050000
50%      38.570000
75%      70.090000
max     143.950000

In [17]:
# print top 5 rows of the brent dataset
brent_df.head()

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63

In [18]:
# print the columns of the brenth dataset
print("Brent Oil Dataset Columns:")
print(brent_df.columns)

Brent Oil Dataset Columns:
Index(['Date', 'Price'], dtype='object')

In [20]:
# verify if there are any missing values in the dataset; we notice there are no missing values
print("Brent Oil Dataset Missing Values:")
print(brent_df.isnull().sum())

Brent Oil Dataset Missing Values:
Date     0
Price    0
dtype: int64

In [ ]:
# plot an interactive line chart for the brent dataset closing prices; we notice the major events in the dataset such as the 2008 crash are visible in the chart
fig = px.line(brent_df, x='Date', y='Price', title='Brent Oil Prices')
fig.show()

# 1.C: Descirptive Statistics of Gold Dataset

In [23]:
print("Gold Price Dataset Descriptive Statistics:")
print(gold_df.describe())

Gold Price Dataset Descriptive Statistics:
             Price         Open         High          Low     Change %
count  6886.000000  6886.000000  6886.000000  6886.000000  6886.000000
mean    909.824807   906.941624   910.127604   903.469021     0.000309
std     541.516040   539.071470   541.323158   536.564722     0.012892
min     253.000000   252.900000   252.900000   252.500000    -0.111300
25%     376.400000   376.200000   376.700000   375.800000    -0.004500
50%     890.900000   889.800000   899.700000   883.350000     0.000200
75%    1359.375000  1349.925000  1352.275000  1347.700000     0.005400
max    2115.200000  2121.700000  2121.700000  2121.700000     0.127100

In [24]:
# print the columns of the gold dataset
print("Gold Price Dataset Columns:")
print(gold_df.columns)

Gold Price Dataset Columns:
Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol', 'Change %'], dtype='object')

In [25]:
# verify if there are any missing values in the dataset; we notice there are no missing values
print("Gold Price Dataset Missing Values:")
print(gold_df.isnull().sum())

Gold Price Dataset Missing Values:
Date        0
Price       0
Open        0
High        0
Low         0
Vol         0
Change %    0
dtype: int64

In [ ]:
# plot an interactive line chart for the gold dataset closing prices
fig = px.line(gold_df, x='Date', y='Price', title='Gold Prices')
fig.show()

# 2: Data Cleaning

In [29]:
# from the descriptive statistics above, we need to merge the specified dataset with brent & gold
# before doing that, we clean the data by performing following actions
# 1. rename "Date" column to unify it among all datasets
# 2. change Date column to datetime
# 3. rename Brent & Gold price to be Brent_Price & Gold_Price
# 4. remove unnecessary columns and focus on close price only for stocks, brent, and gold
# 5. fill the missing values in the stocks dataset with previous day's value
# 6. merge the datasets based on the Date column
# 7. multiply the Gold_Price & Brent_Price by 3.75 to match the scale of the stocks dataset (Saudi Riyal)

In [41]:
# Action 1: rename Date column to unify it among all datasets
stocks_specific_df.rename(columns={'date': 'Date'}, inplace=True)

/var/folders/8r/wc11r95d3lgcc57lr4h_9m0w0000gn/T/ipykernel_7508/3032031963.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [55]:
# Action 2: change Date column to datetime
stocks_specific_df['Date'] = pd.to_datetime(stocks_specific_df['Date'])
brent_df['Date'] = pd.to_datetime(brent_df['Date'])
gold_df['Date'] = pd.to_datetime(gold_df['Date'])

In [43]:
# Action 3: rename Brent & Gold price to be Brent_Price & Gold_Price
brent_df.rename(columns={'Price': 'Brent_Price'}, inplace=True)
gold_df.rename(columns={'Price': 'Gold_Price'}, inplace=True)

In [44]:
# Action 4: remove unnecessary columns and focus on close price only for stocks, brent, and gold
stocks_specific_df = stocks_specific_df[['Date', 'name', 'close', 'sectoer', 'symbol']]

In [51]:
# Action 5: fill the missing values in the stocks dataset with previous day's value
stocks_specific_df.fillna(method='ffill', inplace=True)

In [52]:
# verify that all the dates in the stocks dataset are present in the brent dataset
print("Stocks Dataset Date Range in Brent Dataset:")
print(stocks_specific_df['Date'].isin(brent_df['Date']).value_counts())

Stocks Dataset Date Range in Brent Dataset:
Date
True     108348
False     49738
Name: count, dtype: int64

In [54]:
# print the types of the datasets to verify that the Date column is the same type
print("Stocks Dataset Date Type:")
print(stocks_specific_df['Date'].dtype)
print("Brent Dataset Date Type:")
print(brent_df['Date'].dtype)
print("Gold Dataset Date Type:")
print(gold_df['Date'].dtype)

Stocks Dataset Date Type:
datetime64[ns]
Brent Dataset Date Type:
object
Gold Dataset Date Type:
datetime64[ns]

In [62]:
# Action 6: merge the datasets based on the Date column
# merge the stocks and brent datasets on the date column
stocks_brent_df = pd.merge(stocks_specific_df, brent_df, on='Date', how='inner')

In [63]:
# merge the stocks_brent and gold datasets on the date column
stocks_brent_gold_df = pd.merge(stocks_brent_df, gold_df, on='Date', how='inner')

In [64]:
# print the top 5 rows of the merged dataset
stocks_brent_gold_df.head()

,Date,name,close,sectoer,symbol,Brent_Price,Gold_Price,Open,High,Low,Vol,Change %
0,2020-03-05,Saudi Arabia Refineries Co.,34.90,Energy,2030,51.29,1690.5,1655.7,1671.0,1655.2,0.18K,0.0142
1,2020-03-05,Saudi Arabian Oil Co.,33.00,Energy,2222,51.29,1690.5,1655.7,1671.0,1655.2,0.18K,0.0142
2,2020-03-05,Rabigh Refining and Petrochemical Co.,14.80,Energy,2380,51.29,1690.5,1655.7,1671.0,1655.2,0.18K,0.0142
3,2020-03-05,National Shipping Company of Saudi Arabia,31.15,Energy,4030,51.29,1690.5,1655.7,1671.0,1655.2,0.18K,0.0142
4,2020-03-05,Aldrees Petroleum and Transport Services Co.,60.10,Energy,4200,51.29,1690.5,1655.7,1671.0,1655.2,0.18K,0.0142

In [65]:
# multiply Gold_Price & Brent_Price by 3.75 to make it comparable to the stocks
stocks_brent_gold_df['Brent_Price'] = stocks_brent_gold_df['Brent_Price'] * 3.75
stocks_brent_gold_df['Gold_Price'] = stocks_brent_gold_df['Gold_Price'] * 3.75

In [68]:
# verify if there are any missing values in the dataset; we notice there are no missing values
print("Merged Dataset Missing Values:")
print(stocks_brent_gold_df.isnull().sum())

Merged Dataset Missing Values:
Date           0
name           0
close          0
sectoer        0
symbol         0
Brent_Price    0
Gold_Price     0
Open           0
High           0
Low            0
Vol            0
Change %       0
dtype: int64

In [ ]:
# plot an interactive line chart for the merged dataset closing prices
fig = px.line(stocks_brent_gold_df, x='Date', y='close', color='name', title='Energy and Materials Stocks Closing Prices')
fig.show()

In [ ]:
# plot an interactive line chart for the merged dataset closing prices, Gold_Price, and Brent_Price
fig = px.line(stocks_brent_gold_df, x='Date', y='close', color='name', title='Energy and Materials Stocks Closing Prices with Gold and Brent Prices')
fig.add_scatter(x=stocks_brent_gold_df['Date'], y=stocks_brent_gold_df['Gold_Price'], mode='lines', name='Gold Price')
fig.add_scatter(x=stocks_brent_gold_df['Date'], y=stocks_brent_gold_df['Brent_Price'], mode='lines', name='Brent Price')
fig.show()

# 3: Data Visualization

# 4: Data Correlation

# 5: Data Insightful Findings